* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #808080;
}

header {
    background-color: #333333;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    height: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left:0.5rem;
    margin-right:0.5rem;
    font-weight:400;
    transition: 0.4s;
}

nav a:hover{
    color:#4FAFE7;
    transition: 0.2s;
}

nav h1 {
    font-weight: 400;
    font-size: 1.4rem;
}

section {
    padding: 0rem;
}

.vertical{
  height: 90vh;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
